doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet" type="text/css" href="/stylesheets/index.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/sticky-footer.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/extends_bootstrap/index.css")
  body
    .menu
      include ./menu.jade

    .content-2
      .container-fluid
        .list-group
          .list-group-item
            h4.list-group-item-heading=articulo.titulo
            p.list-group-item-text=articulo.descripcion
            a.list-group-item-text(href=articulo.imagen)=articulo.imagen
.footer
      include ./footer.jade
    script(type="text/javascript" src="/javascripts/jquery-2.2.1.min.js")
    script(type="text/javascript" src="/javascripts/bootstrap.min.js")