nav.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand
       img(src='/image/logo150x50.jpg'
           )
    ul.nav.navbar-nav
      li.dropdown
        a.dropdown-toggle(data-toggle="dropdown") Quienes somos
          span.caret
        ul.dropdown-menu
          li: a(href="/inicio") Nuestro inicio
          li: a(href="/mision") Mision
          li: a(href="/vision") Vision
      li: a(href="/consulta/salud") Consulta tu salud
      li: a(href="/estadistica") Estadística
      li: a(href="/user/registro") Registro
      li: a(href=toggleSesionLink)= toggleSesionLabel