nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand Nutri-Tec
    ul.nav.navbar-nav
      li.dropdown
        a.dropdown-toggle(data-toggle="dropdown") Quienes somos
          span.caret
        ul.dropdown-menu
          li: a(href="/inicio") Nuestro inicio
          li: a(href="mision") Mision
          li: a(href="vision") Vision
      li: a Consulta tu salud
      li: a Registro
      li: a Iniciar Sesión