doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet" type="text/css" href="/stylesheets/index.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/sticky-footer.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/extends_bootstrap/index.css")
  body
    .menu
      include ./menu.jade
    
    .content-2
     .container-fluid
      .row
       .col-md-12
        .card
         .content-2
          form(name="registro",action="registro", method="get")
           .row
            .col-md-12
             .form-group
              label Nombre
              input#idNombre.form-control(type="text", name="idName", value=nombre,required)
           .row
            .col-md-12
             .form-group
              label Correo
              input#idCorreo.form-control(type="email",name="idMail", value=correo,required)
           .row
            .col-md-12
             .form-group
              label Contraseña
              input#idPassword.form-control(type="password",name="idPassword", value=password,required)
           input.btn.btn-success(type="submit",value="Registrar")
           .clearfix
     
    .footer
      include ./footer.jade
    script(type="text/javascript" src="/javascripts/jquery-2.2.1.min.js")
    script(type="text/javascript" src="/javascripts/bootstrap.min.js")