.content-2
    .container-fluid
        .list-group
            .list-group-item
                h4.list-group-item-heading=articulo.titulo
                p.list-group-item-text=articulo.descripcion
                a.list-group-item-text(href=articulo.imagen)=articulo.imagen